/*! bulma.io v0.9.0 | MIT License | github.com/jgthms/bulma */
.subtitle:not(:last-child),
.title:not(:last-child) {
    margin-bottom: 1.5rem
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
body,
h1,
h2,
html,
li {
    margin: 0;
    padding: 0
}

h1,
h2 {
    font-size: 100%;
    font-weight: 400
}

*,
::after,
::before {
    box-sizing: inherit
}


html {
    box-sizing: border-box;
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

section {
    display: block
}

body,
button {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5
}

a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none
}

button {
    margin: 0;
    background-color: #3298dc;
    border-color: transparent;
    color: #fff;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
    vertical-align: top
}

button:hover {
    background-color: #2793da;
    border-color: transparent;
    color: #fff
}

button:focus {
    border-color: transparent;
    color: #fff
}

.button:active,
.button:focus {
    outline: 0
}

button:focus:not(:active) {
    box-shadow: 0 0 0 .125em rgba(50, 152, 220, .25)
}

button:active {
    background-color: #238cd1;
    border-color: transparent;
    color: #fff
}

.container {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

@media screen and (min-width:1024px) {
    .container {
        max-width: 960px
    }
}

@media screen and (min-width:1216px) {
    .container {
        max-width: 1152px
    }
}

@media screen and (min-width:1408px) {
    .container {
        max-width: 1344px
    }
}

.subtitle,
.title {
    word-break: break-word
}

.title {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125
}

.title:not(.is-spaced)+.subtitle {
    margin-top: -1.25rem
}

.subtitle {
    color: rgba(255, 255, 255, .9);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25
}

.subtitle:not(.is-spaced)+.title {
    margin-top: -1.25rem
}

.navbar {
    background-color: #fff;
    min-height: 3.25rem;
    position: relative;
    z-index: 30
}

.navbar-brand {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem
}

.navbar-menu {
    display: none
}

.navbar-item {
    flex-grow: 0;
    flex-shrink: 0;
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative;
    cursor: pointer
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
    background-color: #fafafa;
    color: #3273dc;
    background-color: transparent
}

@media screen and (max-width:1023px) {
    .navbar-brand .navbar-item {
        align-items: center;
        display: flex
    }

    .navbar-menu {
        background-color: #fff;
        box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
        padding: .5rem 0
    }
}

@media screen and (min-width:1024px) {
    .navbar,
    .navbar-menu,
    .navbar-start {
        align-items: stretch;
        display: flex
    }

    .navbar {
        min-height: 3.25rem
    }

    .navbar-item {
        align-items: center;
        display: flex
    }

    .navbar-menu {
        flex-grow: 1;
        flex-shrink: 0
    }

    .navbar-start {
        justify-content: flex-start;
        margin-right: auto
    }
}

.hero {
    min-height: calc(100vh - 3.25rem);
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3273dc;
    color: #fff
}

.hero a:not(.button) {
    color: inherit
}

.hero-body {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem
}

.section {
    padding: 3rem 1.5rem
}